* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #2c1818;
    color: #fff;
    width: 100%;
    height: 100%;
    overflow-x: hidden;

    font-family: sans-serif;
}

.top {
    background: #fff;
    border: 0;
    padding: 1.5% 2.3%;
    border-radius: 5px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.5px;
}

h2 {
    text-transform: uppercase;
    font-size: 24px;
}

header {
    .navigation {
        display: flex;
        justify-content: space-between;
        margin: 0 10px;
        width: 60%;

        img {
            width: 18%;
            height: 100%;
            transform: translate(5%, 20px);
        }

        .frame1 {
            display: flex;
            justify-content: center;
            align-items: flex-start;
            transform: translateX(40px);
            margin-top: 20px;
        
            li, a {
                color: #ebebeb;
                list-style: none;
                text-decoration: none;
                padding: 0 0.3em;
                font-size: 0.9em;
                transition: .5s;

                &:hover {
                    color: #ff5c05;
                }
            }

            .leading {
                color: #ff5c05;
            }
        }

        button {
            background: none;
            color: #ebebeb;
            border: 2px solid #ff5c05;
            border-radius: 5px;
            text-transform: uppercase;
            margin: 0 5px;
            padding: 10px 20px;
            position: absolute;
            right: 0;
            top: 20px;
            transition: all .5s;
            text-shadow: none;

            &:hover {
                box-shadow:
                    inset 2px 3px 7px 1px #ff5c05,
                    0 1px 1px 0px #ff5c05;
                text-shadow: #fff 0.5px 0.5px;
            }
        }
    }

    .advertising {
        display: flex;
        margin: 15px 5px;
        padding: 5px;
        justify-content: center;

        .img-1 {
            position: absolute;
            left: 4%;
            margin-top: 30px;

            img {
                width: 70%;
                height: auto;
            }

            .top {
                position: absolute;
                left: 5%;
                top: 54%;
            }

            h2 {
                position: absolute;
                top: 68%;
                left: 5%;
            }
        }

        .img-2 {
            position: absolute;
            width: 20%;
            aspect-ratio: 4 / 5;
            right: 5%;
            margin-top: 30px;
            background: #3e2323;
            display: flex;
            justify-content: center;
            min-width: 200px;
            
            img {
                margin: 10px 0 0 0;
                width: 60%;
                transform: translate(35%, -10%);
            }

            h3 {
                font-size: 10px;
                letter-spacing: 1px;
                font-family: sans-serif;
                text-align: center;
                width: 100%;
                height: 10%;
                border-radius: 5px;
                display: flex;
                justify-content: center;
                align-items: center;
                transition: .5s;
                margin-top: -18px;
            }

            input {
                width: 100px;
                height: 50px;
                opacity: 0;
                transform: translateY(50%);
                margin-top: -1080px;
                
                &:checked ~ h3 {
                    background: #341c1c;
                }
            }
        }
    }
}

.menu {
    text-align: center;
    margin-top: 420px;
    width: 100%;

    .top {
        justify-content: center;
    }

    h2 {
        margin: 20px 0;
        letter-spacing: 2px;
        display: flex;
        justify-content: center;
    }

    .dishes {
        display: flex;
        justify-content: space-around;

        .pillar-1,
        .pillar-2 {
            max-width: 40%;
            min-width: 30%;
            margin: 0 10%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        .dish {
            width: 80%;
            height: 120px;
            text-align: justify;
            margin-bottom: 10px;

            img {
                float: left;
                max-width: 30%;
                min-width: 20%;
                aspect-ratio: 1 / 1;
                margin-right: 10px;
            }

            h3 {
                clear: right;
                text-transform: uppercase;
                font-size: 16px;
                text-align: left;
                padding: 10px 0;
            }

            p {
                clear: right;
                font-size: 12px;
            }

            price {
                font-size: 14px;
                border: 2px solid #ff5c05;
                border-radius: 3px;
                padding: 5px 8px;
                display: flex;
                width: 57px;
                height: 30px;
                transform: translate(280%, -120%);
                margin-bottom: -60px;
            }

            weight {
                clear: right;
                color: #ff5c05;
                font-size: 14px;
                text-align: left;
                padding: 10px 0px;
            }
        }
    }

    .previous,
    .next {
        font-family: monospace;
        background: #ff5c05;
        width: 50px;
        height: 50px;
        transform: translate(-50%, -50%);
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        font-size: 20px;
        font-weight: bold;
        border-radius: 10px;
        margin-top: -285px;
    }

    .previous {
        left: 4.5%;
        
    }

    .next {
        right: 1%;
    }
    
    a {
        text-align: center;
        color: #fff;
        background: #ff5c05;
        text-decoration: none;
        padding: 10px 15px;
        border-radius: 5px;
        text-transform: uppercase;
        font-size: 14px;
        font-weight: bold;
        letter-spacing: 1px;
        margin: 20px 0;
    }
}

.events {
    display: flex;
    padding: 10px;
    justify-content: center;
    margin-top: 40px;
    
    img {
        max-width: 90%;
        min-width: 250px;
        transform: translateX(4%);

        @media screen and (width < 1095px) {
            transform: translateX(0);
        }
    }

    .pillar-1,
    .pillar-3 {
        max-width: 400px;
        min-width: 100px;
        padding: 0 10px;
        text-align: center;

        .top {
            padding: 8px 10px;
            justify-content: center;
        }

        h2 {
            margin: 20px 0;
            letter-spacing: 0.5px;
            display: flex;
            justify-content: center;
        }

        .details {
            background: none;
            color: #ebebeb;
            border: 2px solid #ff5c05;
            border-radius: 5px;
            text-transform: uppercase;
            margin-top: 20px;
            padding: 10px 20px;
            transition: all .5s;
            text-shadow: none;

            &:hover {
                box-shadow:
                    inset 2px 3px 7px 1px #ff5c05,
                    0 1px 1px 0px #ff5c05;
                text-shadow: #fff 0.5px 0.5px;
            }
        }
    }
}

.party {
    text-align: center;

    .top {
        justify-content: center;
    }

    h2 {
        margin: 20px 0;
        letter-spacing: 0.5px;
        display: flex;
        justify-content: center;
    }

    .pillar {
        display: flex;
        justify-content: space-around;

        .pillar-1 {
            width: 45%;
            
            .det {
                background: #3e2323;
                padding: 15px 0;
                margin: 15px 0;
                transition: .5s;

                &:hover {
                    background: #ff5c05;
                }
                
                summary {
                    text-transform: uppercase;
                    font-size: 16px;
                    letter-spacing: 2px;
                    font-weight: bold;
                    text-align: left;
                    margin-left: 10px;
                }
                
                ul {
                    text-align: left;
                    margin-left: 50px;
                    font-size: 15px;

                    li {
                        padding: 5px 0;
                    }
                }
            }
        }

        .pillar-2 {
            width: 45%;
            text-align: center;

            h3 {
                text-transform: uppercase;
                font-size: 24px;
                width: 300px;
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 20px 0;
                text-align: center;
            }

            .mans {
                display: flex;
                justify-content: center;

                .man-1,
                .man-2 {
                    width: 40%;

                    .ph {
                        padding: 0 15px;
                        width: 100%;
                    }

                    h3 {
                        font-size: 16px;
                        font-weight: 500;
                        width: 100px;
                        text-align: center;
                    }
                }
            }

            a {
                .tele,
                .vk {
                    margin: 0px 5px 5px 0;
                    padding: 5px;
                    width: 40px;
                }
            }
        }
    }
}

.contact {
    text-align: center;
    margin: 20px;

    .top {
        justify-content: center;
    }

    h2 {
        margin: 20px 0;
        letter-spacing: 0.5px;
        display: flex;
        justify-content: center;
    }

    .pillar {
        display: flex;

        .pillar-1 {
            width: 25%;
            aspect-ratio: 3/4;
            background: #3f2121;
            border: 2px solid #ff5c05;
            padding: 35px 40px;
            text-align: left;
            margin: 20px 0 20px 40px;
            border-radius: 5px;

            p {
                font-size: 12px;
                margin: -5px 0;
            }

            h4 {
                text-transform: uppercase;
                font-size: 14px;
            }
            
            hr {
                border-color: #aeaeae;
            }
        }

        .pillar-2 {
            margin: 20px;
            border: 2px solid #ff5c05;
            width: 904px;
            height: 574px;
            border-radius: 5px;
            margin-bottom: 40px;
        }
    }
}

footer {
    position: relative;

    hr {
        margin-top: 100px;
        border-color: #aeaeae;
        margin: 60px;
    }

    .p1 {
        position: absolute;
        bottom: -50px;
        left: 60px;
        color: #aeaeae;
        font-weight: 600;
        letter-spacing: 1px;
        font-size: 12px;
    }

    .p2 {
        position: absolute;
        bottom: -50px;
        right: 60px;
        color: #aeaeae;
        font-weight: 600;
        letter-spacing: 1px;
        font-size: 12px;
    }
}